Click==7.0
coverage==4.5.1
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
funcsigs==1.0.2
iotop==0.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.1.0
mock==2.0.0
nose2==0.8.0
pbr==4.3.0
six==1.11.0
SQLAlchemy==1.2.13
virtualenv==15.0.1
Werkzeug==0.14.1
WTForms==2.2.1
