{% extends "base.html" %}

{% block content %}
	<div class="row spaced">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="userName">Edit Profile</h1>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
                <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <p>
                                {{ form.username.label }}<br>
                                {{ form.username(size=32) }}<br>
                                {% for error in form.username.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                        </p>
        </div>
    </div>
    <div class="row spaced">
        <div class="col-md-4 col-md-offset-4">
                <p>
                        {{ form.about_me.label }}<br>
                        {{ form.about_me(cols=50, rows=4) }}<br>
                        {% for error in form.about_me.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                </p>
        </div>
    </div>
    <div class="row spaced">
        <div class="col-md-2 col-md-offset-5">
                <p>{{ form.submit(class="btn-success")  }}</p>
        </div>
    </div>
</div>
</div>

{% endblock %}
